<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>rtw88</string>

    <key>CFBundleIdentifier</key>
    <string>com.rtw88.driver</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>rtw88</string>

    <key>CFBundlePackageType</key>
    <string>KEXT</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>

    <key>CFBundleVersion</key>
    <string>1.0.1</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2024 rtw88-macos. GPL-2.0 OR BSD-3-Clause</string>

    <key>OSBundleCompatibleVersion</key>
    <string>1.0.1</string>

    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IONetworkingFamily</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>2.9</string>
        <key>com.apple.kpi.bsd</key>
        <string>20.0.0</string>
        <key>com.apple.kpi.iokit</key>
        <string>20.0.0</string>
        <key>com.apple.kpi.libkern</key>
        <string>20.0.0</string>
        <key>com.apple.kpi.mach</key>
        <string>20.0.0</string>
        <key>com.apple.kpi.unsupported</key>
        <string>20.0.0</string>
    </dict>

    <key>IOKitPersonalities</key>
    <dict>

        <key>RTL8822BE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88PCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0xB82210EC</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8822b</string>
            <key>RTW88FWName</key>
            <string>rtw8822b_fw.bin</string>
        </dict>

        <key>RTL8822CE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88PCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0xC82210EC</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8822c</string>
            <key>RTW88FWName</key>
            <string>rtw8822c_fw.bin</string>
        </dict>

        <key>RTL8821CE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88PCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0xC82110EC</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8821c</string>
            <key>RTW88FWName</key>
            <string>rtw8821c_fw.bin</string>
        </dict>

        <key>RTL8812AE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88PCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0x881210EC</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8812a</string>
            <key>RTW88FWName</key>
            <string>rtw8812a_fw.bin</string>
        </dict>

        <key>RTL8814AE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88PCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0x881310EC</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8814a</string>
            <key>RTW88FWName</key>
            <string>rtw8814a_fw.bin</string>
        </dict>

        <key>RTL8821AU</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88USBDevice</string>
            <key>idVendor</key>
            <integer>3034</integer>
            <key>idProduct</key>
            <integer>33556</integer>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOUSBHostDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8821a</string>
            <key>RTW88FWName</key>
            <string>rtw8821a_fw.bin</string>
        </dict>

        <key>RTL8822BU</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88USBDevice</string>
            <key>idVendor</key>
            <integer>3034</integer>
            <key>idProduct</key>
            <integer>47362</integer>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOUSBHostDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8822b</string>
            <key>RTW88FWName</key>
            <string>rtw8822b_fw.bin</string>
        </dict>

        <key>RTL8822CU</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88USBDevice</string>
            <key>idVendor</key>
            <integer>3034</integer>
            <key>idProduct</key>
            <integer>50978</integer>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOUSBHostDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8822c</string>
            <key>RTW88FWName</key>
            <string>rtw8822c_fw.bin</string>
        </dict>

        <key>RTL8812AU</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.rtw88.driver</string>
            <key>IOClass</key>
            <string>RTW88USBDevice</string>
            <key>idVendor</key>
            <integer>3034</integer>
            <key>idProduct</key>
            <integer>34836</integer>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOProviderClass</key>
            <string>IOUSBHostDevice</string>
            <key>RTW88ChipName</key>
            <string>rtw8812a</string>
            <key>RTW88FWName</key>
            <string>rtw8812a_fw.bin</string>
        </dict>

    </dict>
</dict>
</plist>
